/* 
? -- The majority of the styles for this application are intentionally handled by Boostrap (v. 4.5.0).
? -- This file handles some customization of the default bootstrap styles as well as addition of any
? -- custom styles and style handling.
*/

/* Sets the background and text color for low UV indices for the UVI object in current weather section */
.bg-low { 
    background-color: green;
    color: #fff;
}

/* Sets the background and text color for moderate UV indices for the UVI object in current weather section */
.bg-moderate { 
    background-color: gold;
    color: #000;
}

/* Sets the background and text color for high UV indices for the UVI object in current weather section */
.bg-high { 
    background-color: darkorange;
    color: #fff;
}

/* Sets the background and text color for very high UV indices for the UVI object in current weather section */
.bg-vhigh { 
    background-color: crimson;
    color: #fff;
}

/* Sets the background and text color for extremely high UV indices for the UVI object in current weather section */
.bg-extreme { 
    background-color: maroon;
    color: #fff;
}

/* Sets default text color for info icon */
.mouseElipsis { 
    color: rgba(0,0,0,.5);
}

/* Changes text color on hover for info icon */
.mouseElipsis:hover { 
    color: #000;
}

/* Hides the info icon on mobile when varying screensizes may split location of icon and img it describes */
@media screen and (max-width: 400px) { 
    i.currIconTooltip {
        display: none !important;
    }
}
 