/* 
? -- The majority of the styles for this application are intentionally handled by Boostrap (v. 4.5.0).
? -- This file handles some customization of the default bootstrap styles as well as addition of any
? -- custom styles and style handling.
*/

.bg-low {
    background-color: green;
    color: #fff;
}


.bg-moderate {
    background-color: gold;
    color: #000;
}


.bg-high {
    background-color: darkorange;
    color: #fff;
}


.bg-vhigh {
    background-color: crimson;
    color: #fff;
}

.bg-extreme {
    background-color: maroon;
    color: #fff;
}

.mouseElipsis {
    color: rgba(0,0,0,.5);
}

.mouseElipsis:hover {
    color: #000;
}

@media screen and (max-width: 400px) {
    i.currIconTooltip {
        display: none !important;
    }
}
 